.button {
  background: url("/arrow-right.svg") no-repeat right 20px center
    var(--color-button-primary);
  color: var(--color-text-unpainted);
  border-radius: var(--border-radius);
  display: block;
  padding: 20px 40px;
  width: 300px;
}

.button:hover {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .button {
    padding: 16px 24px;
    width: 100%;
  }
}
