.top {
  align-items: center;
  background-color: rgb(0 0 0 / 0.5);
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-block: 200px;
  position: relative;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  text-align: center;
}

.bgimg {
  align-items: center;
  display: flex;
  height: 600px;
  inset: 0;
  justify-content: center;
  object-fit: cover;
  object-position: right;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.news {
  background-color: #fff;
  border-radius: var(--border-radius);
  margin: -40px auto 0;
  padding: 24px 40px;
  position: relative;
  width: 840px;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsLink {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 1000px) {
  .news {
    width: calc(100% - 160px);
  }
}

@media (max-width: 640px) {
  .top {
    padding: 120px 16px;
  }

  .title {
    font-size: 2rem;
    text-align: left;
  }

  .description {
    font-size: 0.9rem;
    text-align: left;
  }

  .news {
    padding: 16px 24px;
    width: calc(100% - 32px);
  }

  .newsLink {
    bottom: auto;
    margin-top: 16px;
    position: relative;
    right: auto;
  }
}
